/* * {  background-color:#fdf6e3; } */
#card {
	background-color: rgba(232,35,40,.75);
	width: 33.3%;
	height: 33.3%;
	z-index: 2;
	position: absolute;
	left: 33.3%;
	top: 33.3%;
	text-align: center;
	font-family: Courier New;
	/* -moz-user-select: text; */
}

div p:first-child {
	position: relative;
	margin-top: 25%;
}
div > p {
	position: relative;
	margin-top: -3.5%;
}

#myCanvas {
	position: fixed;
	top: 0;
	left: 0;
	background-color: #fdf6e3;
	z-index: 1;
}
