* {
	font-family: "Courier New";
}

#card {
	background-color: rgba(232,35,40,.75);
	width: 33.3%;
	height: 33.3%;
	z-index: 2;
	position: absolute;
	left: 33.3%;
	top: 33.3%;
	text-align: center;
	/* -moz-user-select: text; */
}

div p:first-child {
	position: relative;
	margin-top: 18%;
}
div > p {
	position: relative;
	margin-top: -3%;
}

#rocket a {
	text-decoration: none;
}

#rocket {
	text-decoration: none;
	padding-left: 95%;
	padding-top: 11%;
}

#nav {
	z-index: 2;
	position: fixed;
	top: 0;
	left: 0;
	display: inline-block;
	border: 1px solid black;
	padding: 0;
	margin: 0;
}

ul {
	background-color: rgba(237,12,12,.75);
	list-style-type: none; /* no bullets */
	position: fixed;
	margin: 0;
	width: 100%;
	padding: 0;
	top: 0;
	left: 0;
/* 	letter-spacing: -4px; */
}

ul a:first-child {
	border-right: 1px solid rgba(0,0,0,.5);
	padding-top: 1%;
	padding-bottom: .06%;
}

ul a:nth-child(2) {
	border-right: 1px solid rgba(0,0,0,.5);
	padding-top: 1%;
	padding-bottom: .06%;
}


li {
	top: 0;
	left: 0;
	width: 33.29%;
	border-bottom: 1px solid rgba(0,0,0,.5);
	display: inline-block;
	padding-top: .5%;
	margin: 0;
	/* border-bottom: 1px solid; */
	/* border-bottom-color: rgba(0,0,0,.75); */
	color: rgba(0,0,0,.8);
	text-align: center;
	/* letter-spacing: normal; */
	/* background-color: rgba(237,12,12,.75); */
	/* padding-left: 20%; */
	/* padding-right: 20%; */
}

#myCanvas {
	position: fixed;
	top: 0;
	left: 0;
	background-color: #fdf6e3;
	z-index: 1;
}
